# ignore target dir
st
*target/
target/
*logs/
.svn/
*.iml
.idea
*.swp
*.DS_Store
*.log
*/node_modules
*/.sass-cache
userDict/
/data/*
libs
adapter.csv
store_lock
!/.project
.project
.settings
.DS_Store
.gradle/
*.tgz
dependency-reduced-pom.xml
report-dataview-error.txt
index.file
*tmp-package*
**webpack-assets**
package-lock.json
bash.exe.stackdump
